body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
header {
    background-color: #111;
    color: white;
    padding: 20px;
    text-align: center;
}
nav a {
    color: white;
    margin: 0 12px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    color: #ffcc00;
}
.hero {
    background-color: #ddd;
    padding: 40px;
    text-align: center;
}
section {
    background-color: white;
    margin: 20px;
    padding: 30px;
    border-radius: 8px;
}
.cards {
    display: flex;
    gap: 20px;
}

.card {
    background-color: #f0f0f0;
    padding: 20px;
    width: 30%;
    border-radius: 8px;
}
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
.price {
    font-weight: bold;
    color: #008000;
}
form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
form label {
    margin-top: 10px;
}
form input,
form textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
form textarea {
    height: 100px;
    resize: none;
}
form button {
    margin-top: 15px;
    padding: 12px;
    background-color: #111;
    color: white;
    border: none;
    cursor: pointer;
}
form button:hover {
    background-color: #ffcc00;
    color: black;
}
nav a:hover {
    color: #ffcc00;
    border-bottom: 2px solid #ffcc00;
}
.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
form input:focus,
form textarea:focus {
    border-color: #ffcc00;
    outline: none;
}
.cards .card:nth-child(2) {
    background-color: #eaeaea;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
section {
    animation: fadeIn 1s ease-in;
}
section h3 {
    margin-top: 20px;
    color: #333;
}

section ul {
    margin-top: 10px;
    padding-left: 20px;
}